@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-poppins: var(--font-poppins);
  --font-poppins-bold: var(--font-poppins-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}

.card {
  @apply bg-white mb-8;
}

.heading {
  @apply text-3xl font-bold text-center font-(family-name:--font-poppins-bold) p-1 tracking-wide border-b-4 border-blue-300
}
