@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #e5e7eb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-work-sans);
  --font-poppins: var(--font-poppins);
  --font-poppins-bold: var(--font-poppins-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e7eb;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans);
}

.card {
  @apply bg-white rounded-2xl shadow-lg mb-8;
}
